__pycache__
_trial_temp/
.cache
.eggs/
.mypy_cache
.venv
.vscode
*.egg-info/
*.log
*.log.*
*.pyc
/.coverage
/AUTHORS
/build
/ChangeLog
/sqlite.db-shm
/sqlite.db-wal
/type_info.json
AUTHORS
cachefile.dbm
ChangeLog
config.json
dist/
junit.xml
sqlite.db

Users/gaetan/Projects/cfgtree/docs/_build