__pycache__
.cache
.eggs/
*.egg-info/
*.log
*.log.*
*.pyc
/.coverage
/AUTHORS
/build
/ChangeLog
AUTHORS
cachefile.dbm
ChangeLog
dist/
sqlite.db
config.json
_trial_temp/
.venv
/sqlite.db-wal
/sqlite.db-shm
junit.xml
/type_info.json
.mypy_cache
