__pycache__
.cache
.eggs/
*.egg-info/
*.log
*.lock
*.log.*
*.pyc
/.coverage
/AUTHORS
/build
/ChangeLog
AUTHORS
cachefile.dbm
ChangeLog
dist/
sqlite.db
Pipfile.lock
config.json
_trial_temp/
.venv
/sqlite.db-wal
/sqlite.db-shm
junit.xml
