[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pycodestyle = "*"
pyflakes = "<1.6.0,>=1.5.0'"
pylint = "*"
yapf = "*"
cryptography = "*"
PyYAML = "*"
pytest = "*"
tox = "*"
isort = "*"
autopep8 = "*"
pandoc = "*"
"-e ." = "*"

[packages]
pbr = "*"
Flask = "*"
colorlog = "*"
setuptools = "!=36.0.0"
klein = "*"
glob2 = "*"
pathlib2 = "*"
txwebbackendbase = "==0.1.3"

[requires]
python_version = "3.6"

[packages.subliminal]
git = "https://github.com/stibbons/subliminal"
